{% extends 'base.html' %}
{% block content %}
<h1>Goals</h1>

<div style = "background-color: #b6d991">
	<h2 style = "background-color: #505e40">Low Priority</h2>
	
		<form method = "POST", action = "{{ url_for('.view_goals') }}">
	{% for goal in low %}
				<span id="low">&nbsp;</span>
					<script> 
						var name = '{{ goal.goal }}'
						var data = '{{ goal.todo|tojson }}'
						add(name,data,"low");
					</script>
					<br>
	{% endfor %}
			<input type="submit" value="Save" name ="save low">
		</form>
</div>

<div style = "background-color: #dfe089">
	<h2 style = "background-color: #848550">Medium Priority</h2>
	
		<form method = "POST", action = "{{ url_for('.view_goals') }}">
	{% for goal in medium %}
				<span id="medium">&nbsp;</span>
					<script> 
						var name = '{{ goal.goal }}'
						var data = '{{ goal.todo|tojson }}'
						add( name,data,"medium");
					</script>
					<br>
	{% endfor %}
			<input type="submit" value="Save" name ="save medium">
		</form>

</div>


<div style = "background-color: #e0968d">
	<h2 style = "background-color: #75514c">High Priority</h2>
	
		<form method = "POST", action = "{{ url_for('.view_goals') }}">
	{% for goal in high %}
				<span id="high">&nbsp;</span>
					<script> 
						var name = '{{ goal.goal }}'
						var data = '{{ goal.todo|tojson }}'
						add(name,data,"high");
					</script>
					<br>
	{% endfor %}
			<input type="submit" value="Save" name ="save high">
		</form>
</div>
<a class="btn btn-primary" href="{{ url_for('Goals.add_goals') }}" ><h2>Add Goal<h2></a>



{% endblock %}


