<body style = "background-color: #9BA39D; text-align: center; ">
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<img style="transform: scale(0.3); background-color: transparent; border:groove 2px;" src="{{ url_for('static', filename='images/logotest.png') }}">
<div class="form-group">
	<form method="POST"  style = "transform: scale(2);">
		{{ form.hidden_tag() }}
		{{ form.email.label }} <br> {{ form.email() }}
		<br>
		{{ form.password.label}} <br> {{ form.password() }}
			{% if form.password.errors %}
			<ul class="text-danger">
			{% for error in form.password.errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
			{% endif %}
		<br>
		{{ form.submit() }}
		<p>Dont have an account yet? <a href = "{{ url_for('User.register') }}">Register Here</a></p>
	</form>
</div>
</div>
</body>